 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Astropy. A Community Python Library for Astronomy." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400italic,400,700' rel='stylesheet' type='text/css' />

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.textarea_autosize.js"></script>

    <title>Astropy</title>

</head>

<body>
  <nav class="astropy">
    <a href="http://www.astropy.org"><img src="static/images/astropy_word_32.png"/></a>
    <div id="navigation">
      <ul>
        <li style="margin-top: 7px"><a href="/">visibility tool</a></li>
      </ul>
    </div>
  </nav>

{% block body %}{% endblock %}

</body>
</html>
